* {
  box-sizing: border-box;
}

nav {
  font-family: "poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;

  margin: 0px;
  width: 100%;
  padding: 0px;
  overflow-x: hidden;
}

/* navigation bar navigation bar navigation bar navigation bar navigation bar navigation bar navigation bar navigation bar */
/* navigation bar navigation bar navigation bar navigation bar navigation bar navigation bar navigation bar navigation bar */
/* navigation bar navigation bar navigation bar navigation bar navigation bar navigation bar navigation bar navigation bar */
/* navigation bar navigation bar navigation bar navigation bar navigation bar navigation bar navigation bar navigation bar */
/* navigation bar navigation bar navigation bar navigation bar navigation bar navigation bar navigation bar navigation bar */

.container-fluid {
  padding-top: -0.75%;
}
.navbar {
  /* background-color: white; */
  padding-top: 0.75%;
}
.navbar-brand {
  /* width: 100%; */
  display: flex;
  padding-top: 5%;
  /* align-items: center; */
}
.navbar-brand img {
  width: 100%;
  height: auto;
  margin-top: 0%;
  margin-left: 20px;
  padding-left: 50px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

/* navigation menu  navigation menu  navigation menu  navigation menu  navigation menu  */

.navbar-toggler {
  margin-right: 30px;
}
.navbar-nav .nav-link {
  /* font-size: 18px; */
  font-weight: 600;
  padding-top: 0px;
  color: #e25319;
  text-decoration: none;
}

.nav-item .nav-link {
  color: #5b5b5b;
  /* font-size: 16px; */
  font-weight: 400;
  padding-top: 5px;
}

.nav-item a:hover {
  color: #e25319;
}

.nav-item {
  margin-left: 55px;
  transition: 1s;
}

.nav-item:hover {
  transform: scale(1.1);
}
nav :hover {
  color: #e25319;
}

/* profile profile profile profile profile profile profile */

.profile-container {
  display: flex;
  align-items: center;
}
.profile-container img {
  margin-left: 20px;
  width: 20%;
  /* margin-right: 90px; */
  border-radius: 50%;
  cursor: pointer;
}
.name {
  transition: 1s;
  padding-right: 90px;
  padding-left: 20px;
  cursor: pointer;
  font-weight: 500;
}

.name:hover {
  transform: scale(1.1);
}
.navbar-toggler {
  border-color: #e25319;
  border-width: 0.5px;
}

/* content content content contentcontentcontent contentcontent content */
.img-fluid {
  position: relative;
}

.container-fluid {
  margin-left: 10%;
  width: 100%;
}
.text1 {
  margin-top: 5%;
  font-size: 180%;
  margin-bottom: 30px;
  margin-right: 60px;
  font-weight: 500;
}

.text2 {
  font-size: 100%;
  margin-bottom: 30px;
  margin-right: 100px;
  color: #5b5b5b;
}

.col-md-7 .col-md-12 {
  transition: 1s;
  background-color: #dfefff;
  border-radius: 10px;
  height: auto;
}

.col-md-7 .col-md-12:hover {
  transform: scale(1.05);
}
.review p {
  margin-left: 6.25%;
}
.rectangle {
  border-radius: 10px;
  width: 100%;
  margin-top: -5px;
  padding-bottom: 5%;
  margin-left: 10px;
  height: 220px;
  background-color: white;
  position: relative;
  align-items: center;
  box-shadow: 0.5px 0.5px 5px #d1d0d0;
}

.col-12 .review img {
  width: 15%;

  padding-top: 5%;
  padding-left: 5%;
}

.col-md-5 {
  /* background-color: #d1d0d0; */
  border-radius: 10px;
  padding: 4%;
  margin-top: 10px;
}

.rectangle {
  margin-left: 7%;
  width: 90%;
  height: auto;
  position: relative;
}

.col-5 .cost {
  text-align: center;
  margin-top: 20%;
  margin-left: 35%;
  font-size: 28px;
  font-weight: 700;
  color: #e25319;
}

.col-7 .strikethrough {
  margin-top: 18%;
  margin-left: 20%;
  font-size: 20px;
  font-weight: 600;
  color: #858585;
  text-decoration: line-through;
}

.col-6 .discount {
  margin-top: 10%;
  margin-left: 45%;
  font-size: 20px;
  font-weight: 600;
  color: #858585;
}

.timeleft {
  text-align: center;
  margin-top: 3%;
  font-size: 16px;
  font-weight: 600;
  color: #e25319;
}
.buynow {
  transition: 1s;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 10px;
  height: 45px;
  border: none;
  background-color: #e25319;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.buynow:hover {
  transform: scale(1.05);
}

.coursedetails {
  margin-left: 5%;
  margin-top: 7%;
  font-size: 20px;
  font-weight: 600;
}

.container-fluid1 {
  background-color: #dfefff;
  margin-top: 2%;
  padding-bottom: 3%;
}

.recommendedcourses {
  padding-top: 3%;
  padding-left: 4%;
  font-size: 22px;
  font-weight: 600;
}

.rectangle13 {
  transition: 1s;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0.5px 0.5px 5px #d1d0d0;
  cursor: pointer;
}

.rectangle13:hover {
  transform: scale(1.1);
}

.top {
  margin-left: 100%;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: none;
  padding-top: 0.5%;
  margin-top: 2%;
  margin-right: 10%;

  font-weight: 500;
  color: #656565;
  transition: 1s;
  cursor: pointer;
  background-color: white;
}

.top:hover {
  transform: scale(1.01);
}

.footer {
  display: flex;

  background: #252641;
}

.whitelogo {
  margin-left: 29%;
  margin-top: 70px;
}

.vertical {
  border-left: 1px solid #626381;
  height: 75px;
  margin-top: 50px;
  margin-left: 20px;
}
.zoomclass1 {
  margin-top: 68px;
  margin-left: 25px;
  color: white;
  font-weight: 600;
}
.zoomclass2 {
  margin-top: 91px;
  margin-left: -102px;
  color: white;
  font-weight: 600;
}

.newsletter {
  margin-left: -255px;
  margin-top: 170px;
  height: 35px;
  font-size: 20px;
  font-weight: 300;
  color: white;
  opacity: 60%;
}

.mail {
  float: left;
  width: 50%;
  background-color: transparent;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 60px;
  height: 40px;
  width: 300px;
  margin-top: 220px;
  margin-left: -400px;
  opacity: 80%;
  color: white;
}

.subscribe {
  transition: 1s;
  height: 40px;
  border-radius: 60px;
  width: 150px;
  margin-top: 220px;
  border: none;
  margin-left: -80px;
  background-color: #e25319;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

.subscribe:hover {
  transform: scale(1.05);
}

.subscribe a {
  text-decoration: none;
}
.subscribe a:visited {
  color: white;
}
.terms {
  margin-top: 50px;
  margin-left: -330px;
  opacity: 60%;
  font-weight: 300;
  color: white;
}
.link a:visited {
  color: white;
}

.link a {
  text-decoration: none;
  transition: 1s;
}

.link a:hover {
  transform: scale(1.1);
}
.copy {
  margin-left: -187px;
  margin-top: 15%;
  color: white;
}
@media screen and (min-width: 1200px) {
  .navbar-brand img {
    width: 100%;
    height: auto;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .navbar-brand img {
    width: 85%;
    height: auto;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .navbar-brand img {
    width: 80%;
    height: auto;
    margin-left: 27px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .classlogo {
    width: 50%;
    margin-left: -20%;
  }

  .text1 {
    margin-top: 5%;
    font-size: 161%;
    margin-bottom: 30px;
    margin-right: 0%;
    margin-left: -12%;
    font-weight: 500;
  }

  .text2 {
    font-size: 100%;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: -12%;
    color: #5b5b5b;
  }

  .col-md-7 .col-md-12 {
    background-color: #dfefff;
    border-radius: 10px;
    width: 110%;
    height: auto;
    margin-left: -12%;
    margin-right: 0%;
  }

  .review p {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 0%;
  }

  .rectangle {
    margin-left: 0%;
    width: 100%;
    height: auto;
    position: relative;
  }

  .rectangle {
    border-radius: 10px;
    width: 120%;
    margin-top: -5px;
    padding-bottom: 5%;
    margin-left: 10px;
    height: auto;
    background-color: white;
    position: relative;
    align-items: center;
    box-shadow: 0.5px 0.5px 5px #d1d0d0;
  }
  .recommendedcourses {
    padding-top: 6%;
    padding-bottom: 5%;
    padding-left: 4%;
    font-size: 22px;
    font-weight: 600;
  }
  .rectangle13 {
    transition: 1s;
    background-color: white;
    border-radius: 10px;
    margin-left: 0%;
    width: 100%;
    box-shadow: 0.5px 0.5px 5px #d1d0d0;
  }

  .rectangle13:hover {
    transform: scale(1.1);
  }
  .footer {
    display: flex;
    /* padding: 175px; */
    background: #252641;
  }

  .whitelogo {
    margin-left: 250px;
    margin-top: 70px;
  }

  .vertical {
    border-left: 1px solid #626381;
    height: 75px;
    margin-top: 50px;
    margin-left: 10px;
  }
  .zoomclass1 {
    margin-top: 60px;
    margin-left: 15px;
    margin-right: -10%;
    color: white;
    font-weight: 600;
  }
  .zoomclass2 {
    margin-top: 85px;
    margin-left: -5px;
    margin-right: -10%;
    color: white;
    font-weight: 600;
  }

  .newsletter {
    margin-left: -200px;
    margin-top: 150px;
    height: 35px;
    font-size: 17px;
    font-weight: 300;
    color: white;
    opacity: 60%;
  }

  .mail {
    float: left;
    width: 50%;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 60px;
    height: 35px;
    width: 225px;
    margin-top: 190px;
    margin-left: -310px;
    opacity: 80%;
    color: white;
  }

  .subscribe {
    height: 35px;
    border-radius: 60px;
    width: 120px;
    margin-top: 190px;
    border: none;
    margin-left: -65px;
    background-color: #e25319;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  .terms {
    margin-top: 50px;
    margin-left: -305px;
    opacity: 60%;
    font-weight: 300;
    color: white;
  }
  .link:visited {
    color: white;
  }
  .copy {
    margin-left: -155px;
    color: white;
  }
}

@media screen and (max-width: 767px) and (min-width: 501px) {
  .navbar-brand img {
    width: 70%;
    height: auto;
    margin-left: 25px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .classlogo {
    width: 50%;
    margin-left: -20%;
  }

  .text1 {
    margin-top: 5%;
    font-size: 161%;
    margin-bottom: 30px;
    margin-right: 0%;

    font-weight: 500;
  }

  .text2 {
    font-size: 100%;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 0%;
    color: #5b5b5b;
  }

  .col-md-7 .col-md-12 {
    background-color: #dfefff;
    border-radius: 10px;
    width: 100%;
    height: auto;
  }

  .review p {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 0%;
  }

  .rectangle {
    margin-left: 0%;
    width: 100%;
    height: auto;
    position: relative;
  }

  .recommendedcourses {
    padding-top: 6%;
    padding-bottom: 5%;
    padding-left: 4%;
    font-size: 22px;
    font-weight: 600;
  }
  .rectangle13 {
    transition: 1s;
    background-color: white;
    border-radius: 10px;
    margin-left: 10%;
    width: 80%;
    box-shadow: 0.5px 0.5px 5px #d1d0d0;
  }

  .rectangle13:hover {
    transform: scale(1.05);
  }
  .footer {
    display: flex;
    /* padding: 175px; */
    background: #252641;
  }

  .whitelogo {
    margin-left: 150px;
    margin-top: 70px;
  }

  .vertical {
    border-left: 1px solid #626381;
    height: 75px;
    margin-top: 50px;
    margin-left: 10px;
  }
  .zoomclass1 {
    margin-top: 60px;
    margin-left: 15px;
    margin-right: -10%;
    color: white;
    font-weight: 600;
  }
  .zoomclass2 {
    margin-top: 85px;
    margin-left: -27px;
    margin-right: -10%;
    color: white;
    font-weight: 600;
  }

  .newsletter {
    margin-left: -225px;
    margin-top: 150px;
    height: 35px;
    font-size: 17px;
    font-weight: 300;
    color: white;
    opacity: 60%;
  }

  .mail {
    float: left;
    width: 50%;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 60px;
    height: 35px;
    width: 225px;
    margin-top: 190px;
    margin-left: -310px;
    opacity: 80%;
    color: white;
  }

  .subscribe {
    height: 35px;
    border-radius: 60px;
    width: 120px;
    margin-top: 190px;
    border: none;
    margin-left: -65px;
    background-color: #e25319;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  .terms {
    margin-top: 50px;
    margin-left: -305px;
    opacity: 60%;
    font-weight: 300;
    color: white;
  }
  .link:visited {
    color: white;
  }
  .copy {
    margin-left: -155px;
    color: white;
  }
}

@media screen and (max-width: 500px) {
  .navbar-brand img {
    width: 60%;
    height: auto;
    margin-left: 34px;
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .classlogo {
    width: 50%;
    margin-left: -20%;
  }

  .text1 {
    margin-top: 5%;
    font-size: 120%;
    margin-bottom: 30px;
    margin-left: 5%;
    font-weight: 500;
  }

  .text2 {
    font-size: 100%;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 5%;
    color: #5b5b5b;
  }

  .col-md-7 .col-md-12 {
    background-color: #dfefff;
    border-radius: 10px;
    height: auto;
    margin-left: 5%;
    margin-right: 4%;
  }

  .review p {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 0%;
  }

  .rectangle {
    margin-left: 5.5%;
    width: 90%;
    height: auto;
    position: relative;
  }

  .recommendedcourses {
    padding-top: 6%;
    padding-bottom: 5%;
    padding-left: 4%;
    font-size: 22px;
    font-weight: 600;
  }
  .rectangle13 {
    transition: 1s;
    background-color: white;
    border-radius: 10px;
    margin-left: 10%;
    width: 80%;
    box-shadow: 0.5px 0.5px 5px #d1d0d0;
  }

  .rectangle13:hover {
    transform: scale(1.05);
  }
  .footer {
    display: flex;
    /* padding: 175px; */
    background: #252641;
  }

  .whitelogo {
    margin-left: 50px;
    margin-top: 70px;
  }

  .vertical {
    border-left: 1px solid #626381;
    height: 75px;
    margin-top: 50px;
    margin-left: 10px;
  }
  .zoomclass1 {
    margin-top: 60px;
    margin-left: 15px;
    margin-right: -10%;
    color: white;
    font-weight: 600;
  }
  .zoomclass2 {
    margin-top: 85px;
    margin-left: -55px;
    margin-right: -10%;
    color: white;
    font-weight: 600;
  }

  .newsletter {
    margin-left: -245px;
    margin-top: 150px;
    height: 35px;
    font-size: 17px;
    font-weight: 300;
    color: white;
    opacity: 60%;
  }

  .mail {
    float: left;
    width: 50%;
    background-color: transparent;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 60px;
    height: 35px;
    width: 225px;
    margin-top: 190px;
    margin-left: -310px;
    opacity: 80%;
    color: white;
  }

  .subscribe {
    height: 35px;
    border-radius: 60px;
    width: 120px;
    margin-top: 190px;
    border: none;
    margin-left: -65px;
    background-color: #e25319;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  .terms {
    margin-top: 50px;
    margin-left: -305px;
    opacity: 60%;
    font-weight: 300;
    color: white;
  }
  .link:visited {
    color: white;
  }
  .copy {
    margin-left: -155px;
    color: white;
  }
}
