* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  width: 100%;
  padding: 0px;
  /* overflow-x: hidden; */
}

.img-fluid {
  position: relative;
  margin-bottom: 0%;
}

.loginblock {
  position: absolute;
  top: 10%;
  left: 9%;
  right: 5%;
  background-color: white;
  /* background-color: rgb(218, 218, 218); */

  border-radius: 10px;
}

.text-overlay {
  bottom: 0;
  padding: 10% 10% 7% 10%;
  margin-bottom: 2%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(121, 121, 121, 0));
}
.text1 {
  top: 80%;
  left: 10%;
  padding-bottom: 3%;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.text2 {
  width: 100%;
  top: 100%;
  left: 10%;
  font-size: 15px;
  font-weight: 400;
  color: #e25319;
}

.loginarea {
  position: absolute;
}

.material-symbols-outlined {
  transition: 1s;
  color: black;
  padding-left: 90%;
  padding-top: 4%;
}

.material-symbols-outlined:hover {
  transform: scale(1.02);
}
.welcome {
  margin-left: -7%;
  margin-top: 6%;
  font-size: 17px;
  text-align: center;
}

.col-6 .rectangle {
  border-radius: 30px;
  margin-top: 10%;
  margin-left: -32%;
  height: 50px;
  width: 300px;
  background-color: #86dfe0;
}

.button1 {
  border: none;
  margin-top: 5.5%;
  margin-left: 10%;
  background-color: #e25319;
  color: white;
  height: 35px;
  width: 130px;
  border-radius: 20px;
}

.button2 {
  transition: 1s;
  border: none;
  margin-top: 5.5%;
  margin-left: -5%;
  background-color: #86dfe0;
  color: white;
  height: 35px;
  width: 130px;
  border-radius: 20px;
  align-content: end;
}
.button2:hover {
  transform: scale(1.05);
  background-color: #2ccccf77;
  color: white;
}
.info {
  text-align: center;
  color: #5b5b5b;
  margin-top: 5%;
  font-size: 14px;
  margin-left: -10%;
  padding: 2% 10% 5% 10%;
}

.username {
  font-size: 15px;
  font-weight: 500;
  padding-top: 2%;
  padding-left: 7.5%;
}

.pw {
  font-size: 15px;
  font-weight: 500;
  padding-top: 3%;
  padding-left: 7.5%;
}
.usernametext {
  opacity: 60%;
  margin-top: -3%;
  padding-left: 5%;
  margin-left: 7%;
  width: 77%;
  height: 42px;
  border-radius: 25px;
  font-size: 14px;
  border-width: 1.5px;
  border-color: #e25319;
  border-style: solid;
  outline: transparent;
}

.input-box {
  align-items: center;
  display: flex;
  opacity: 60%;
  margin-top: -2%;
  padding-left: 5%;
  margin-left: 7%;
  width: 77%;
  height: 42px;
  border-radius: 25px;
  font-size: 14px;
  border-width: 1.5px;
  border-color: #e25319;
  border-style: solid;
  background-color: white;
}
.input-box img {
  width: 8%;
  cursor: pointer;
  margin-left: 32%;
  padding-right: 2%;
}

.password {
  border: none;
  background-color: white;
  outline: transparent;
  font-size: 14px;
}

.password input {
  width: 100%;
  padding: 10px 0;
  background-color: white;
}

.checkbox {
  transition: 1s;
  cursor: pointer;
  margin-left: 0%;
  margin-top: 53%;
  padding-top: 10%;
}

.checkbox:hover {
  transform: scale(1.05);
}
.forgotpassword {
  transition: 1s;
  margin-left: -10%;
  margin-top: -11%;
  font-size: 12px;
}

.forgotpassword:hover {
  transform: scale(1.05);
}
.col-4 a {
  text-decoration: none;
}

.submit {
  transition: 1s;
  align-items: right;
  margin-left: 45%;
  margin-top: 7%;
  width: 40%;
  border-radius: 20px;
  height: 42px;
  border: none;
  background-color: #e25319;
  color: white;
}

.submit:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1200px) {
}

@media screen and (max-width: 1200px) and (min-width: 991px) {
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  /* .backgroundimg {
    display: none;
  } */

  .loginblock {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 9%;
    right: 5%;

    /* background-color: rgb(236, 236, 236); */

    /* background-color: rgb(218, 218, 218); */

    border-radius: 10px;
  }

  .material-symbols-outlined {
    display: none;
  }
  .welcome {
    margin-left: -10%;
    margin-top: 1%;
    font-size: 17px;
    text-align: center;
  }

  .col-6 .rectangle {
    border-radius: 30px;
    margin-top: 10%;
    margin-left: -40%;
    height: 50px;
    width: 250px;
    background-color: #86dfe0;
  }

  .button1 {
    border: none;
    margin-top: 7%;
    margin-left: 10%;
    background-color: #e25319;
    color: white;
    height: 35px;
    width: 100px;
    border-radius: 20px;
  }

  .button2 {
    border: none;
    margin-top: 7%;
    margin-left: -5%;
    background-color: #86dfe0;
    color: white;
    height: 35px;
    width: 100px;
    border-radius: 20px;
  }

  .info {
    text-align: center;
    color: #5b5b5b;
    margin-top: 5%;
    font-size: 14px;
    margin-left: -10%;
    padding: 2% 8% 5% 8%;
  }

  .username {
    font-size: 15px;
    font-weight: 500;
    padding-top: 2%;
    padding-left: 5%;
  }

  .usernametext {
    opacity: 60%;
    margin-top: -3%;
    padding-left: 5%;
    margin-left: 5%;
    width: 84%;
    height: 42px;
    border-radius: 25px;
    font-size: 14px;
    border-width: 1.5px;
    border-color: #e25319;
    border-style: solid;
    outline: transparent;
  }

  .input-box {
    align-items: center;
    display: flex;
    opacity: 60%;
    margin-top: -2%;
    padding-left: 5%;
    margin-left: 5%;
    width: 84%;
    height: 42px;
    border-radius: 25px;
    font-size: 14px;
    border-width: 1.5px;
    border-color: #e25319;
    border-style: solid;
    background-color: white;
  }
  .input-box img {
    width: 7%;
    cursor: pointer;
    margin-left: 20%;
    padding-right: 2%;
  }

  .password {
    border: none;
    background-color: white;
    outline: transparent;
    font-size: 14px;
  }

  .password input {
    width: 100%;
    /* padding: 10px 0; */
    margin-left: 0%;
  }

  .checkbox {
    cursor: pointer;
    margin-left: -20%;
    margin-top: 50%;
    padding-top: 10%;
  }

  .forgotpassword {
    margin-left: -20%;
    margin-top: -11%;
    font-size: 12px;
  }
  .col-4 a {
    text-decoration: none;
  }

  .submit {
    align-items: right;
    margin-left: 49%;
    margin-top: 7%;
    margin-bottom: 10%;
    width: 40%;
    border-radius: 20px;
    height: 42px;
    border: none;
    background-color: #e25319;
    color: white;
  }
}

@media screen and (max-width: 767px) and (min-width: 501px) {
  .backgroundimg {
    display: none;
  }

  .loginblock {
    position: absolute;
    top: 10%;
    left: 9%;
    right: 5%;

    background-color: rgb(236, 236, 236);

    /* background-color: rgb(218, 218, 218); */

    border-radius: 10px;
  }

  .material-symbols-outlined {
    display: none;
  }
  .welcome {
    margin-left: 0%;
    margin-top: 1%;
    font-size: 17px;
    text-align: center;
  }

  .col-6 .rectangle {
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 0%;
    height: 50px;
    width: 300px;
    background-color: #86dfe0;
  }

  .info {
    text-align: center;
    color: #5b5b5b;
    margin-top: 5%;
    font-size: 14px;
    margin-left: 0%;
    padding: 2% 8% 5% 8%;
  }

  .username {
    font-size: 15px;
    font-weight: 500;
    padding-top: 2%;
    padding-left: 8%;
  }

  .usernametext {
    opacity: 60%;
    margin-top: -3%;
    padding-left: 5%;
    margin-left: 8%;
    width: 84%;
    height: 42px;
    border-radius: 25px;
    font-size: 14px;
    border-width: 1.5px;
    border-color: #e25319;
    border-style: solid;
    outline: transparent;
  }

  .input-box {
    align-items: center;
    display: flex;
    opacity: 60%;
    margin-top: -2%;
    padding-left: 5%;
    margin-left: 8%;
    width: 84%;
    height: 42px;
    border-radius: 25px;
    font-size: 14px;
    border-width: 1.5px;
    border-color: #e25319;
    border-style: solid;
    background-color: white;
  }
  .input-box img {
    width: 7%;
    cursor: pointer;
    margin-left: 54%;
    padding-right: 2%;
  }

  .password {
    border: none;
    background-color: white;
    outline: transparent;
    font-size: 14px;
  }

  .password input {
    width: 100%;
    padding: 10px 0;
  }

  .checkbox {
    cursor: pointer;
    margin-left: 0%;
    margin-top: 50%;
    padding-top: 10%;
  }

  .forgotpassword {
    margin-left: 44%;
    margin-top: -11%;
    font-size: 12px;
  }
  .col-4 a {
    text-decoration: none;
  }

  .submit {
    align-items: right;
    margin-left: 52%;
    margin-top: 7%;
    margin-bottom: 10%;
    width: 40%;
    border-radius: 20px;
    height: 42px;
    border: none;
    background-color: #e25319;
    color: white;
  }
}

@media screen and (max-width: 500px) {
  .backgroundimg {
    display: none;
  }

  .loginblock {
    position: absolute;
    top: 10%;
    left: 9%;
    right: 5%;

    background-color: rgb(236, 236, 236);

    /* background-color: rgb(218, 218, 218); */

    border-radius: 10px;
  }

  .material-symbols-outlined {
    display: none;
  }
  .welcome {
    margin-left: 0%;
    margin-top: 1%;
    font-size: 17px;
    text-align: center;
  }

  .col-6 .rectangle {
    border-radius: 30px;
    margin-top: 10%;
    margin-left: -28%;
    height: 50px;
    width: 300px;
    background-color: #86dfe0;
  }

  .info {
    text-align: center;
    color: #5b5b5b;
    margin-top: 5%;
    font-size: 14px;
    margin-left: 0%;
    padding: 2% 8% 5% 8%;
  }

  .username {
    font-size: 15px;
    font-weight: 500;
    padding-top: 2%;
    padding-left: 8%;
  }

  .usernametext {
    opacity: 60%;
    margin-top: -3%;
    padding-left: 5%;
    margin-left: 8%;
    width: 84%;
    height: 42px;
    border-radius: 25px;
    font-size: 14px;
    border-width: 1.5px;
    border-color: #e25319;
    border-style: solid;
    outline: transparent;
  }

  .input-box {
    align-items: center;
    display: flex;
    opacity: 60%;
    margin-top: -2%;
    padding-left: 5%;
    margin-left: 8%;
    width: 84%;
    height: 42px;
    border-radius: 25px;
    font-size: 14px;
    border-width: 1.5px;
    border-color: #e25319;
    border-style: solid;
    background-color: white;
  }
  .input-box img {
    width: 8%;
    cursor: pointer;
    margin-left: 34%;
    padding-right: 2%;
  }

  .password {
    border: none;
    background-color: white;
    outline: transparent;
    font-size: 14px;
  }

  .password input {
    width: 100%;
    padding: 10px 0;
  }

  .checkbox {
    cursor: pointer;
    margin-left: 0%;
    margin-top: 50%;
    padding-top: 10%;
  }

  .forgotpassword {
    margin-left: 14%;
    margin-top: -11%;
    font-size: 12px;
  }
  .col-4 a {
    text-decoration: none;
  }

  .submit {
    align-items: right;
    margin-left: 52%;
    margin-top: 7%;
    margin-bottom: 10%;
    width: 40%;
    border-radius: 20px;
    height: 42px;
    border: none;
    background-color: #e25319;
    color: white;
  }
}
